Repository Youngger9765/career-creator: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, npm-audit, prettier, pytest, nextjs-build

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  tsc: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|md|json)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  pytest: any of: ^backend/.*\.py$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  nextjs-build: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)


fix(use-game-mode-sync): make reconnect function actually reconnect
  frontend/src/hooks/use-game-mode-sync.ts
Due: eslint, tsc, prettier, nextjs-build

fix(use-game-mode-sync): make reconnect function actually reconnect (#11)
  frontend/src/hooks/use-game-mode-sync.ts
Due: eslint, tsc, prettier, nextjs-build

ci: add QA feedback secrets to Cloud Run deployment
  .github/workflows/deploy-backend.yaml
Due: none

refactor: extract magic numbers to named constants in realtime hooks
  frontend/src/hooks/use-card-sync.ts
  frontend/src/hooks/use-game-mode-sync.ts
  frontend/src/hooks/use-presence.ts
  frontend/src/hooks/use-unified-card-sync.ts
Due: eslint, tsc, prettier, nextjs-build

refactor: extract magic numbers to named constants in realtime hooks (#12)
  frontend/src/hooks/use-card-sync.ts
  frontend/src/hooks/use-game-mode-sync.ts
  frontend/src/hooks/use-presence.ts
  frontend/src/hooks/use-unified-card-sync.ts
Due: eslint, tsc, prettier, nextjs-build

test: add comprehensive unit tests for realtime-retry.ts
  frontend/src/lib/__tests__/realtime-retry.test.ts
Due: eslint, tsc, prettier, nextjs-build

test: add comprehensive unit tests for realtime-retry.ts (#13)
  frontend/src/lib/__tests__/realtime-retry.test.ts
Due: eslint, tsc, prettier, nextjs-build

feat: QA feedback writes to 2 tabs (測試 + 統計)
  backend/app/api/qa_feedback.py
  docs/QA-SHEET-INTEGRATION.md
  docs/qa-checklist.html
Due: pytest

feat: auto-create sheet headers if missing
  backend/app/api/qa_feedback.py
Due: pytest

fix: check A1 value for header, insert row if missing
  backend/app/api/qa_feedback.py
Due: pytest

fix: check entire first row for headers, not just A1
  backend/app/api/qa_feedback.py
Due: pytest

fix: lookup actual sheet ID for 測試 tab instead of hardcoding 0
  backend/app/api/qa_feedback.py
Due: pytest

feat: add debug-headers endpoint for troubleshooting
  backend/app/api/qa_feedback.py
Due: pytest

fix: apply received card positions in visitor sync
  frontend/src/hooks/use-unified-card-sync.ts
Due: eslint, tsc, prettier, nextjs-build

chore: remove debug-headers endpoint
  backend/app/api/qa_feedback.py
Due: pytest

docs: update QA sheet integration status
  docs/QA-SHEET-INTEGRATION.md
Due: none

fix: stabilize visitor userId to prevent broadcast echo
  frontend/src/hooks/use-unified-card-sync.ts
Due: eslint, tsc, prettier, nextjs-build

fix: resolve stale closure in handleCardMove causing state revert
  frontend/src/hooks/use-unified-card-sync.ts
Due: eslint, tsc, prettier, nextjs-build

fix: owner proactively broadcasts state on connect for sync
  frontend/src/hooks/use-card-sync.ts
  frontend/src/hooks/use-unified-card-sync.ts
Due: eslint, tsc, prettier, nextjs-build

fix: ensure visitor userId is read from localStorage after hydration
  frontend/src/hooks/use-unified-card-sync.ts
Due: eslint, tsc, prettier, nextjs-build

feat: deploy docs to frontend public directory
  frontend/public/docs/CLOSURE_REPORT_Phase1.html
  frontend/public/docs/CLOSURE_REPORT_Phase1.md
  frontend/public/docs/CLOSURE_REPORT_Phase1_Simplified.html
  frontend/public/docs/CLOSURE_REPORT_Phase1_Simplified.md
  frontend/public/docs/LINE_CHAT_SUMMARY_2025-10_to_2026-01.md
  frontend/public/docs/QA-GUIDE.md
  frontend/public/docs/QA-SHEET-INTEGRATION.md
  frontend/public/docs/REALTIME_OPTIMIZATION.md
  frontend/public/docs/images/00-game-mode-selection.png
  frontend/public/docs/images/01-login-page.png
  frontend/public/docs/images/01-riasec-personality.png
  frontend/public/docs/images/02-career-collector.png
  frontend/public/docs/images/02-client-room-list.png
  frontend/public/docs/images/03-competency-assessment.png
  frontend/public/docs/images/03-consultation-room.png
  frontend/public/docs/images/03-room-list.png
  frontend/public/docs/images/04-growth-plan.png
  frontend/public/docs/images/04-join-room.png
  frontend/public/docs/images/04-value-navigation.png
  frontend/public/docs/images/05-game-mode-selection.png
  frontend/public/docs/images/05-join-room-name.png
  frontend/public/docs/images/05-position-breakdown.png
  frontend/public/docs/images/06-visitor-waiting.png
  frontend/public/docs/images/07-life-redesign.png
  frontend/public/docs/images/07-visitor-collaboration.png
  frontend/public/docs/images/08-multi-user-status.png
  frontend/public/docs/images/gameplays/01-riasec-personality.png
  frontend/public/docs/images/gameplays/02-career-collector.png
  frontend/public/docs/images/gameplays/03-competency-assessment.png
  frontend/public/docs/images/gameplays/04-growth-plan.png
  frontend/public/docs/images/gameplays/05-position-breakdown.png
  frontend/public/docs/images/gameplays/06-value-ranking.png
  frontend/public/docs/images/gameplays/07-life-redesign.png
  frontend/public/docs/images/image.png
  frontend/public/docs/navicareer-design-system.md
  frontend/public/docs/qa-checklist.html
Due: prettier

style: improve QA checklist button visibility when selected
  docs/qa-checklist.html
  frontend/public/docs/qa-checklist.html
Due: none

docs: update simplified report - remove visitor collaboration, update multi-user image
  docs/CLOSURE_REPORT_Phase1_Simplified.html
  frontend/public/docs/CLOSURE_REPORT_Phase1_Simplified.html
Due: none

chore: simplify QA checklist - only keep submit to sheet button
  docs/qa-checklist.html
  frontend/public/docs/qa-checklist.html
Due: none

docs: rename images, add consultation notes to simplified report
  docs/CLOSURE_REPORT_Phase1_Simplified.html
  docs/TODO-CARD-ROOM-DB.md
  docs/images/consultation-notes.png
  docs/images/multi-user-online-status.png
  frontend/public/docs/CLOSURE_REPORT_Phase1_Simplified.html
  frontend/public/docs/images/consultation-notes.png
  frontend/public/docs/images/multi-user-online-status.png
Due: none

feat(qa-checklist): auto-detect env/browser/os and add incomplete items modal
  docs/TODO-CARD-ROOM-DB.md
  docs/qa-checklist.html
  frontend/public/docs/qa-checklist.html
Due: none

fix: owner now persists visitor card moves to DB
  frontend/src/hooks/__tests__/use-unified-card-sync-persistence.test.ts
  frontend/src/hooks/use-unified-card-sync.ts
Due: eslint, tsc, prettier, nextjs-build

feat: add collapsible screenshots to closure report and visitor join button
  docs/CLOSURE_REPORT_Phase1_Simplified.html
  frontend/public/docs/CLOSURE_REPORT_Phase1_Simplified.html
  frontend/src/app/login/page.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: sync selectedGameplay when owner loads state from localStorage
  frontend/src/hooks/use-game-mode-sync.ts
Due: eslint, tsc, prettier, nextjs-build

docs: replace 諮商 with 諮詢 globally and reorganize closure report
  backend/app/api/clients.py
  backend/app/core/seeds.py
  docs/CLOSURE_REPORT_Phase1_Simplified.html
  docs/QA-GUIDE.md
  docs/qa-checklist.html
  frontend/public/docs/CLOSURE_REPORT_Phase1_Simplified.html
  frontend/public/docs/QA-GUIDE.md
  frontend/public/docs/qa-checklist.html
  frontend/src/app/session-ended/page.tsx
  frontend/src/data/mockCards.ts
  frontend/src/game-modes/data/cards/career-cards.json
  frontend/src/game-modes/data/cards/riasec-cards.json
  frontend/src/hooks/use-visitor-join.ts
Due: eslint, tsc, prettier, pytest, nextjs-build

feat: add planText DB persistence for GrowthPlanningGame
  frontend/src/components/clients/__tests__/ClientMobileCard.test.tsx
  frontend/src/components/clients/__tests__/ClientTableRow.test.tsx
  frontend/src/components/games/GrowthPlanningGame.tsx
  frontend/src/components/games/__tests__/GrowthPlanningGame.test.tsx
  frontend/src/game-modes/services/__tests__/card-loader.service.test.ts
Due: eslint, tsc, prettier, nextjs-build

fix(qa): correct dashboard screenshot and reorder games to match UI
  frontend/public/docs/qa-checklist.html
  frontend/src/app/room/[id]/page.tsx
Due: eslint, tsc, prettier, nextjs-build

style(qa): color-code game tabs by card type
  frontend/public/docs/qa-checklist.html
Due: none

fix(qa): remove unimplemented feature test items
  frontend/public/docs/qa-checklist.html
Due: none

fix(ui): rename button text from 儲存截圖 to 儲存筆記截圖
  frontend/src/components/room/NotesDrawer.tsx
Due: eslint, tsc, prettier, nextjs-build

style(qa): use brand colors for game tabs
  frontend/public/docs/qa-checklist.html
Due: none

fix(ParticipantList): show current user avatar during Presence loading
  frontend/src/components/room/ParticipantList.tsx
Due: eslint, tsc, prettier, nextjs-build

fix(usePresence): add periodic presence state refresh as fallback
  frontend/src/hooks/use-presence.ts
Due: eslint, tsc, prettier, nextjs-build

fix(usePresence): replace wasteful polling with single delayed re-track
  frontend/src/hooks/use-presence.ts
Due: eslint, tsc, prettier, nextjs-build
