Repository Youngger9765/career-creator: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, prettier, npm-audit

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  tsc: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|md|json)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)


fix: improve notes display and action button alignment
  frontend/src/components/clients/ClientManagement.tsx
Due: eslint, tsc, prettier

fix: correct email verification status checks in client forms
  frontend/src/components/clients/ClientForm.tsx
  frontend/src/components/clients/ClientManagement.tsx
Due: eslint, tsc, prettier

feat: implement JobDecompositionCanvas with PDF upload functionality
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/components/common/PDFUploader.tsx
  frontend/src/components/game-canvases/CollectionCanvas.tsx
  frontend/src/components/game-canvases/JobDecompositionCanvas.tsx
  frontend/src/components/game-canvases/PositionBreakdownCanvas.tsx
  frontend/src/components/game-canvases/TwoZoneCanvas.tsx
  frontend/src/config/gameModes.ts
  frontend/src/stores/canvas-game-store.ts
Due: eslint, tsc, prettier

feat: create modular DropZone component with enhanced controls
  frontend/src/components/common/DropZone.tsx
  frontend/src/components/game-canvases/JobDecompositionCanvas.tsx
Due: eslint, tsc, prettier

refactor: migrate TwoZoneCanvas to use modular DropZone component
  frontend/src/components/game-canvases/TwoZoneCanvas.tsx
Due: eslint, tsc, prettier

refactor: implement universal game rules engine with 7 game modes
  frontend/src/__tests__/game-modes-basic.test.tsx
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/components/game-canvases/ThreeColumnCanvas.tsx
  frontend/src/components/games/AdvantageAnalysisGame.tsx
  frontend/src/components/games/CareerCollectorGame.tsx
  frontend/src/components/games/GrowthPlanningGame.tsx
  frontend/src/components/games/LifeTransformationGame.tsx
  frontend/src/components/games/PersonalityAnalysisGame.tsx
  frontend/src/components/games/PositionBreakdownGame.tsx
  frontend/src/components/games/ValueRankingGame.tsx
  frontend/src/components/games/index.ts
  frontend/src/game-modes/components/GameplaySelector.tsx
  frontend/src/game-modes/services/card-loader.service.ts
  frontend/src/game/engine.ts
  frontend/src/game/rules/rule-factory.ts
  frontend/src/token-system/TokenManager.ts
  frontend/src/token-system/components/TokenDisplay.tsx
  frontend/tsconfig.json
Due: eslint, tsc, prettier

docs: streamline TDD refactor plan for game state management
  TDD_GAME_MODE_ARCHITECTURE_REFACTOR.md
Due: none

refactor: simplify GameModeIntegration with component-based architecture
  frontend/src/__tests__/game-state-store.test.ts
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/consultation/CardList.tsx
  frontend/src/components/game-canvases/CollectionCanvas.tsx
  frontend/src/components/game-canvases/GridCanvas.tsx
  frontend/src/components/game-canvases/GrowthPlanCanvas.tsx
  frontend/src/components/game-canvases/ThreeColumnCanvas.tsx
  frontend/src/components/game-cards/CardItem.tsx
  frontend/src/components/game-info/GameInfoBar.tsx
  frontend/src/components/games/AdvantageAnalysisGame.tsx
  frontend/src/components/games/CareerCollectorGame.tsx
  frontend/src/components/games/GrowthPlanningGame.tsx
  frontend/src/components/games/LifeTransformationGame.tsx
  frontend/src/components/games/PersonalityAnalysisGame.tsx
  frontend/src/components/games/PositionBreakdownGame.tsx
  frontend/src/components/games/ValueRankingGame.tsx
  frontend/src/stores/game-state-store.ts
Due: eslint, tsc, prettier

feat: refactor game mode architecture with unified components
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/common/CardSidebar.tsx
  frontend/src/components/common/DropZone.tsx
  frontend/src/components/common/GameLayout.tsx
  frontend/src/components/game-canvases/CollectionCanvas.tsx
  frontend/src/components/game-canvases/GridCanvas.tsx
  frontend/src/components/game-canvases/GrowthPlanCanvas.tsx
  frontend/src/components/game-canvases/ThreeColumnCanvas.tsx
  frontend/src/components/game-canvases/TwoZoneCanvas.tsx
  frontend/src/components/game-cards/CardItem.tsx
  frontend/src/components/games/AdvantageAnalysisGame.tsx
  frontend/src/components/games/CareerCollectorGame.tsx
  frontend/src/components/games/GrowthPlanningGame.tsx
  frontend/src/components/games/LifeTransformationGame.tsx
  frontend/src/components/games/PersonalityAnalysisGame.tsx
  frontend/src/components/games/PositionBreakdownGame.tsx
  frontend/src/components/games/ValueRankingGame.tsx
  frontend/src/game-modes/components/CombinedGameSelector.tsx
  frontend/src/game-modes/data/cards/action-cards.json
  frontend/src/game-modes/services/card-loader.service.ts
Due: eslint, tsc, prettier

feat: implement 3-column layout for game mode selection
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/common/DropZone.tsx
  frontend/src/components/game-canvases/CollectionCanvas.tsx
  frontend/src/game-modes/components/CombinedGameSelector.tsx
Due: eslint, tsc, prettier

feat: enhance LifeTransformationGame with dynamic pie chart and compact card widgets
  frontend/src/components/common/GameLayout.tsx
  frontend/src/components/game-canvases/CollectionCanvas.tsx
  frontend/src/components/game-canvases/GridCanvas.tsx
  frontend/src/components/game-canvases/GrowthPlanCanvas.tsx
  frontend/src/components/game-canvases/JobDecompositionCanvas.tsx
  frontend/src/components/game-canvases/ThreeColumnCanvas.tsx
  frontend/src/components/game-canvases/TwoZoneCanvas.tsx
  frontend/src/components/games/AdvantageAnalysisGame.tsx
  frontend/src/components/games/CardTokenWidget.tsx
  frontend/src/components/games/GrowthPlanningGame.tsx
  frontend/src/components/games/LifeTransformationGame.tsx
  frontend/src/components/games/PersonalityAnalysisGame.tsx
Due: eslint, tsc, prettier

fix: update game mode display names in info bar
  frontend/src/components/games/AdvantageAnalysisGame.tsx
  frontend/src/components/games/GrowthPlanningGame.tsx
  frontend/src/components/games/PersonalityAnalysisGame.tsx
Due: eslint, tsc, prettier

docs: update project documentation and clean up unused files
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/GameRuleSelector.tsx
  frontend/src/components/consultation/ConsultationAreaNew.tsx
  frontend/src/components/game-canvases/JobDecompositionCanvas.tsx
  frontend/src/game-modes/adapters/legacy-adapter.ts
  frontend/src/game/engine.ts
  frontend/src/game/rules/rule-factory.ts
  frontend/src/game/types.ts
  frontend/src/lib/api/game-rules.ts
Due: eslint, tsc, prettier

docs: complete documentation updates for v4.0 release
  LIFE_TRANSFORMATION_GAME_FEATURES.md
  PRD.md
  TDD_GAME_MODE_ARCHITECTURE_REFACTOR.md
Due: none

fix: remove legacy components and invalid imports
  frontend/.eslintignore
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/e2e/game-mode-integration.spec.ts
  frontend/src/__tests__/game-modes-basic.test.tsx
  frontend/src/__tests__/room-management.test.tsx
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/ConsultationArea.tsx
  frontend/src/components/GameDropZones.tsx
  frontend/src/components/GameSessionPanel.tsx
  frontend/src/components/game-canvases/CollectionCanvas.tsx
  frontend/src/components/game-canvases/JobDecompositionCanvas.tsx
  frontend/src/components/game-canvases/TwoZoneCanvas.tsx
  frontend/src/stores/game-session-store.ts
Due: eslint, tsc, prettier

chore: disable slow Docker linting in pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: resolve Life Transformation Game token synchronization and pie chart issues
  frontend/src/components/common/PDFUploader.tsx
  frontend/src/components/game-canvases/GridCanvas.tsx
  frontend/src/components/game-canvases/GrowthPlanCanvas.tsx
  frontend/src/components/game-canvases/JobDecompositionCanvas.tsx
  frontend/src/components/games/CareerCollectorGame.tsx
  frontend/src/components/games/GrowthPlanningGame.tsx
  frontend/src/components/games/LifeTransformationGame.tsx
  frontend/src/components/games/PositionBreakdownGame.tsx
  frontend/src/components/games/ValueRankingGame.tsx
  frontend/src/stores/game-state-store.ts
Due: eslint, tsc, prettier

docs: add weekly report 2025-09-27
  WEEKLY_REPORT_2025-09-27.md
Due: none

fix: resolve markdownlint formatting issues in weekly report
  WEEKLY_REPORT_2025-09-27.md
Due: none

docs: reorganize documentation structure
  ARCHITECTURE.md
  CLAUDE.md
  GAME_CONFIG_STRATEGY.md
  GAME_DESIGN.md
  IMPLEMENTATION_STATUS.md
  LIFE_TRANSFORMATION_GAME_FEATURES.md
  PRD.md
  TDD_GAME_MODE_ARCHITECTURE_REFACTOR.md
  docs/CICD_IMAGE_CLEANUP_VERIFICATION.md
  docs/諮商師-客戶CRM文件.md
Due: none

style: fix markdown formatting in CLAUDE.md
  CLAUDE.md
Due: none

docs: add comprehensive sync mechanism planning documentation
  docs/LOCALSTORAGE_TO_BACKEND_MIGRATION.md
  docs/SYNC_MECHANISM_PLAN.md
  docs/THREE_FEATURES_ASSESSMENT.md
  docs/WEBSOCKET_VS_POLLING_ANALYSIS.md
Due: none

fix: resolve authentication redirect issues
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/rooms/page.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/stores/auth-store.ts
Due: eslint, tsc, prettier

fix: resolve visitor join room issues and improve UI
  backend/app/api/visitors.py
  backend/app/models/visitor.py
  frontend/src/app/join/[shareCode]/page.tsx
  frontend/src/app/join/page.tsx
  frontend/src/hooks/use-visitor-join.ts
  frontend/src/lib/api/visitors.ts
Due: eslint, tsc, prettier

docs: add rule against using --no-verify flag in commits
  CLAUDE.md
Due: none

test: update visitor-flow tests for new API structure
  frontend/src/__tests__/visitor-flow.test.tsx
Due: eslint, tsc, prettier

docs: add sync mechanism planning and online presence documentation
  docs/ONLINE_PRESENCE_SURVEY.md
  docs/SUPABASE_SYNC_IMPLEMENTATION.md
Due: none

feat: implement real-time presence tracking with Supabase
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/room/[id]/page.tsx
  frontend/src/hooks/use-presence.ts
  frontend/src/hooks/use-room-participants.ts
  frontend/src/lib/supabase-client.ts
Due: eslint, tsc, prettier, npm-audit

docs: update documentation for Phase 1 completion
  docs/SUPABASE_SETUP.md
  docs/SUPABASE_SYNC_IMPLEMENTATION.md
Due: none

feat: implement Phase 2 game mode synchronization with unified naming
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/constants/game-modes.ts
  frontend/src/game-modes/components/CombinedGameSelector.tsx
  frontend/src/game-modes/services/mode.service.ts
  frontend/src/hooks/use-game-mode-sync.ts
Due: eslint, tsc, prettier

fix: enhance visitor permission controls when owner is offline
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/app/room/[id]/page.tsx
  frontend/src/game-modes/components/CombinedGameSelector.tsx
Due: eslint, tsc, prettier

feat: implement unified card sync system for all game modes
  docs/SUPABASE_SYNC_IMPLEMENTATION.md
  frontend/src/components/common/DropZone.tsx
  frontend/src/components/game-canvases/CollectionCanvas.tsx
  frontend/src/components/game-canvases/GridCanvas.tsx
  frontend/src/components/game-canvases/GrowthPlanCanvas.tsx
  frontend/src/components/game-canvases/JobDecompositionCanvas.tsx
  frontend/src/components/game-canvases/ThreeColumnCanvas.tsx
  frontend/src/components/game-canvases/TwoZoneCanvas.tsx
  frontend/src/components/games/AdvantageAnalysisGame.tsx
  frontend/src/components/games/CareerCollectorGame.tsx
  frontend/src/components/games/GrowthPlanningGame.tsx
  frontend/src/components/games/LifeTransformationGame.tsx
  frontend/src/components/games/PersonalityAnalysisGame.tsx
  frontend/src/components/games/PositionBreakdownGame.tsx
  frontend/src/components/games/ValueRankingGame.tsx
  frontend/src/hooks/use-card-sync.ts
  frontend/src/hooks/use-game-card-sync.ts
  frontend/src/hooks/use-unified-card-sync.ts
  frontend/src/lib/game-state-normalizer.ts
  frontend/src/lib/sync-error-handler.ts
  frontend/src/types/game-sync.types.ts
Due: eslint, tsc, prettier

fix: update games to use unified card sync and fix ValueRankingGame zones
  frontend/src/components/game-canvases/GridCanvas.tsx
  frontend/src/components/games/GrowthPlanningGame.tsx
  frontend/src/components/games/ValueRankingGame.tsx
  frontend/src/constants/game-modes.ts
  frontend/src/stores/game-state-store.ts
Due: eslint, tsc, prettier

feat: remove visitor guidance button and related functionality
  CLAUDE.md
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/game-canvases/GridCanvas.tsx
  frontend/src/components/game-canvases/ThreeColumnCanvas.tsx
  frontend/src/components/game-canvases/TwoZoneCanvas.tsx
  frontend/src/components/games/AdvantageAnalysisGame.tsx
  frontend/src/components/games/CareerCollectorGame.tsx
  frontend/src/components/games/GrowthPlanningGame.tsx
  frontend/src/components/games/PositionBreakdownGame.tsx
  frontend/src/components/games/ValueRankingGame.tsx
  frontend/src/hooks/use-card-sync.ts
  frontend/src/hooks/use-game-card-sync.ts
  frontend/src/hooks/use-unified-card-sync.ts
  frontend/src/lib/game-state-normalizer.ts
  frontend/src/lib/sync-error-handler.ts
  frontend/src/stores/game-state-store.ts
  frontend/src/types/game-sync.types.ts
Due: eslint, tsc, prettier

fix: resolve Life Transformation Game token synchronization and pie chart issues
  frontend/src/components/games/CardTokenWidget.tsx
  frontend/src/components/games/LifeTransformationGame.tsx
  frontend/src/hooks/use-game-card-sync.ts
Due: eslint, tsc, prettier

fix: resolve all TypeScript, ESLint, and formatting issues
  frontend/src/components/ConsultationArea.tsx
  frontend/src/lib/game-state-normalizer.ts
Due: eslint, tsc, prettier

style: apply Black formatting to Python backend files
  backend/app/api/clients.py
  backend/app/core/seeds.py
  backend/app/models/game_rule.py
Due: none

chore: remove WS_URL from CI/CD configuration
  .github/workflows/deploy-frontend.yaml
  frontend/Dockerfile
Due: none

feat: implement text synchronization for GrowthPlanningGame
  frontend/src/components/game-canvases/GrowthPlanCanvas.tsx
  frontend/src/components/games/GrowthPlanningGame.tsx
  frontend/src/hooks/use-card-sync.ts
Due: eslint, tsc, prettier

feat: add auto-generated card prefix to growth plan text
  frontend/src/components/games/GrowthPlanningGame.tsx
Due: eslint, tsc, prettier
