Repository Youngger9765/career-creator: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, prettier, npm-audit

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  tsc: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|md|json)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)


fix: correct Realtime test results - frontend format works perfectly
  load-tests/LOAD_TEST_REPORT.md
  load-tests/realtime_simple_test.py
Due: none

security: remove all hardcoded Supabase keys from load tests
  load-tests/.env.example
  load-tests/realtime_100rooms_test_20251103_005918.json
  load-tests/realtime_50rooms_test_20251103_005839.json
  load-tests/realtime_quick_test.py
  load-tests/realtime_simple_test.py
  load-tests/realtime_websocket_test.py
  load-tests/test_realtime_100rooms.py
Due: none

chore: organize test results into test-results/ folder
  .gitignore
  gameplay_states_test_results_20251103_004648.json
Due: none

feat: add temporary admin init endpoint for load testing
  backend/app/api/temp_init.py
  backend/app/main.py
  load-tests/test_gameplay_states.py
Due: none

feat: add TEMP_INIT_SECRET to Production deployment
  .github/workflows/deploy-backend.yaml
Due: none

fix: correct Body parameters for temp init endpoints
  backend/app/api/temp_init.py
Due: none

fix: add name field to user creation in temp_init
  backend/app/api/temp_init.py
Due: none

chore: remove temporary init endpoint and add load test reports
  backend/app/api/temp_init.py
  backend/app/main.py
  load-tests/LOAD_TEST_REPORT_PRODUCTION.md
  load-tests/LOAD_TEST_REPORT_STAGING.md
Due: none

fix: remove test password from production report for security
  load-tests/LOAD_TEST_REPORT_PRODUCTION.md
  load-tests/LOAD_TEST_REPORT_STAGING.md
Due: none

feat: enhance pre-commit security checks
  .bandit
  .gitignore
  .pre-commit-config.yaml
  SECURITY.md
Due: none

feat: strengthen gitleaks password detection rules
  .gitleaks.toml
Due: none

fix: resolve visitor heartbeat and data integrity issues
  backend/app/api/visitors.py
  load-tests/test_gameplay_states.py
Due: none

fix: restore VisitorUpdate import to resolve concurrent visitor join failures
  backend/app/api/visitors.py
  load-tests/test_visitor_join.py
Due: none

perf: increase database connection pool for high concurrent visitor joins
  backend/app/core/database.py
Due: none

debug: add database connection pool diagnostic endpoint for staging
  backend/app/main.py
Due: none

debug: add database connection test endpoint to diagnose staging issues
  backend/app/main.py
Due: none

fix: use transaction pooler (port 6543) for all database connections
  .github/workflows/deploy-backend.yaml
Due: none

docs: add final test reports for staging and production fixes
  .gitignore
  test-results/FINAL_REPORT_PRODUCTION.md
  test-results/FINAL_REPORT_STAGING.md
Due: none

docs: add Week 13 report and update PRD with load testing achievements
  PRD.md
  WEEKLY_REPORT_2025-11-04.md
Due: none

docs: optimize Week 13 report for stakeholder readability
  WEEKLY_REPORT_2025-11-04.md
Due: none

docs: add dual-environment testing strategy and reproducibility details
  WEEKLY_REPORT_2025-11-04.md
Due: none

docs: streamline Week 13 report - remove redundancy
  WEEKLY_REPORT_2025-11-04.md
Due: none

fix: apply markdownlint fixes
  WEEKLY_REPORT_2025-11-04.md
Due: none

feat: integrate card image assets with GCS storage
  .gitignore
  CARD_IMAGE_INTEGRATION_COMPLETE.md
  CARD_INTEGRATION.md
  card-image/GCS_UPLOAD.md
  card-image/rename.sh
  frontend/src/components/Card.tsx
  frontend/src/data/card-assets.json
  frontend/src/game-modes/data/cards/README.md
  frontend/src/game-modes/data/cards/riasec-cards.json
  frontend/src/game-modes/services/card-loader.service.ts
  frontend/src/lib/card-asset-manager.example.tsx
  frontend/src/lib/card-asset-manager.ts
Due: eslint, tsc, prettier

docs: update PRD and weekly report with card image integration
  PRD.md
  WEEKLY_REPORT_2025-11-04.md
Due: none

docs: remove redundant card integration docs
  CARD_IMAGE_INTEGRATION_COMPLETE.md
  CARD_INTEGRATION.md
Due: none

chore: remove outdated code review and GCP migration documentation
  CODE_REVIEW_2025-10-22.md
  TODO.md
Due: none

fix: add image support to CardModal dialog
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier

fix: add padding to card images in modal dialog
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier

fix: correct RIASEC card titles to match images
  frontend/src/game-modes/data/cards/riasec-cards.json
Due: prettier

fix: increase card image padding in modal
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier

fix: remove border from card modal display
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier

fix: remove shadow and top padding from card modal images
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier

fix: update artifact cleanup workflow authentication
  .github/workflows/artifact-cleanup.yml
Due: none

fix: add rounded corners to card images
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier

fix: correct RIASEC card titles to match images
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier

fix: add rounded corners to card images with overflow-hidden
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier

fix: use object-contain to show full card with rounded corners
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier

fix: remove bottom padding from card modal images
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier
