Repository Youngger9765/career-creator: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, npm-audit, prettier, pytest, nextjs-build

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  tsc: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|md|json)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  pytest: any of: ^backend/.*\.py$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  nextjs-build: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)


fix: add overflow-hidden for rounded corners without padding
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: add rounded corners to card images and remove header
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier, nextjs-build

feat: increase card size in grid mode and fix aspect ratio
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/components/common/CardModal.tsx
  frontend/src/components/common/CardSidebar.tsx
  frontend/src/components/common/DropZone.tsx
  frontend/src/components/game-canvases/CollectionCanvas.tsx
  frontend/src/components/game-cards/CardItem.tsx
  frontend/src/components/games/CardTokenWidget.tsx
  frontend/src/game-modes/data/cards/riasec-cards.json
  frontend/src/game-modes/services/card-loader.service.ts
Due: eslint, tsc, prettier, nextjs-build

docs: update weekly report with card UI optimization progress (11/4-11/6)
  WEEKLY_REPORT_2025-11-04.md
  frontend/src/components/common/CardSidebar.tsx
Due: eslint, tsc, prettier, nextjs-build

docs: consolidate root documentation into three core files
  ARCHITECTURE.md
  CLAUDE.md
  GAME_DESIGN.md
  PRD.md
  REFACTORING_NEEDED.md
  SECURITY.md
  SYNC_ARCHITECTURE.md
  WEEKLY_REPORT_2025-09-27.md
  WEEKLY_REPORT_2025-09-30.md
  WEEKLY_REPORT_2025-10-07.md
  WEEKLY_REPORT_2025-10-12.md
  WEEKLY_REPORT_2025-10-21.md
  WEEKLY_REPORT_2025-10-28.md
  WEEKLY_REPORT_2025-11-04.md
  docs/SPEC_CLIENT_ROOM_SIMPLIFICATION.md
Due: none

docs: restore weekly reports as independent files
  WEEKLY_REPORT_2025-09-27.md
  WEEKLY_REPORT_2025-09-30.md
  WEEKLY_REPORT_2025-10-07.md
  WEEKLY_REPORT_2025-10-12.md
  WEEKLY_REPORT_2025-10-21.md
  WEEKLY_REPORT_2025-10-28.md
  WEEKLY_REPORT_2025-11-04.md
Due: none

fix: add viewport-based size constraints to CardModal for Windows DPI scaling
  .gitignore
  frontend/e2e/auth.setup.ts
  frontend/e2e/card-modal.spec.ts
  frontend/playwright.config.ts
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier, nextjs-build

feat: add test-modal page for Windows DPI scaling verification
  frontend/e2e/test-modal-page.spec.ts
  frontend/src/app/test-modal/page.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: improve test-modal-page Playwright test selectors
  frontend/e2e/test-modal-page.spec.ts
Due: eslint, tsc, prettier, nextjs-build

docs: add CI/CD deployment protocol to CLAUDE.md
  CLAUDE.md
Due: none

docs: add session startup checklist to CLAUDE.md
  CLAUDE.md
Due: none

chore: remove card asset manager and related files
  frontend/src/data/card-assets.json
  frontend/src/lib/card-asset-manager.example.tsx
  frontend/src/lib/card-asset-manager.ts
Due: eslint, tsc, prettier, nextjs-build

feat: add 100 profession cards with O*NET data structure
  frontend/src/game-modes/data/cards/career-cards.json
  frontend/src/game-modes/data/cards/riasec-cards.json
Due: prettier

refactor: update deck ID from career_cards_100 to profession-collector
  card-image/career-cards.json
  card-image/rename-profession.sh
  frontend/src/__tests__/card-data-integrity.test.ts
  frontend/src/components/games/CareerCollectorGame.tsx
  frontend/src/game-modes/services/card-loader.service.ts
Due: eslint, tsc, prettier, nextjs-build

fix: add Supabase environment variables to Cloud Run deployment
  .github/workflows/deploy-frontend.yaml
Due: none

fix: hide back side for cards without back image (profession L cards)
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: correct M size image fallback logic for profession cards
  frontend/src/components/common/CardSidebar.tsx
  frontend/src/components/game-cards/CardItem.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: improve dark mode contrast for text-based cards
  frontend/src/components/common/CardSidebar.tsx
  frontend/src/components/game-cards/CardItem.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: remove email validation from login form
  frontend/src/app/login/page.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: hide email verification UI in CRM client form
  frontend/src/components/clients/ClientForm.tsx
Due: eslint, tsc, prettier, nextjs-build

revert: restore email validation in login form
  frontend/src/app/login/page.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: hide email verification icons in client list views
  frontend/src/components/clients/ClientMobileCard.tsx
  frontend/src/components/clients/ClientTableRow.tsx
Due: eslint, tsc, prettier, nextjs-build

style: increase card border radius from lg to xl
  frontend/src/components/common/CardSidebar.tsx
  frontend/src/components/game-cards/CardItem.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: apply rounded corners to card images and containers
  frontend/src/components/common/CardSidebar.tsx
  frontend/src/components/game-cards/CardItem.tsx
Due: eslint, tsc, prettier, nextjs-build

feat: add S size images for RIASEC personality cards
  frontend/src/game-modes/data/cards/riasec-cards.json
Due: prettier

chore: remove career cards JSON file
  card-image/career-cards.json
Due: none

fix: use object-contain for explanation cards to prevent cropping
  frontend/src/components/common/CardSidebar.tsx
  frontend/src/components/game-cards/CardItem.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: scale explanation card images to fill container and show rounded corners
  frontend/src/components/common/CardSidebar.tsx
  frontend/src/components/game-cards/CardItem.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: improve card display with dynamic scaling and taller aspect ratio
  frontend/src/components/common/CardModal.tsx
  frontend/src/components/game-cards/CardItem.tsx
Due: eslint, tsc, prettier, nextjs-build

refactor: simplify card images to use object-cover only
  frontend/src/components/common/CardModal.tsx
  frontend/src/components/common/CardSidebar.tsx
  frontend/src/components/game-cards/CardItem.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: show rounded corners on CardModal with object-contain
  frontend/src/components/common/CardModal.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: remove fixed aspect ratio from CardItem to prevent image cropping
  frontend/src/components/game-cards/CardItem.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: use CSS grid layout for DropZone to fix職涯收藏 zone
  frontend/src/components/common/DropZone.tsx
Due: eslint, tsc, prettier, nextjs-build

docs: add database migration TODO to company Supabase
  PRD.md
Due: none

perf: reduce Realtime bandwidth by 60% with throttle/debounce
  docs/REALTIME_OPTIMIZATION.md
  frontend/src/hooks/use-card-sync.ts
  frontend/src/hooks/use-room-participants.ts
  frontend/src/lib/__tests__/throttle-debounce.test.ts
  frontend/src/lib/throttle-debounce.ts
Due: eslint, tsc, prettier, nextjs-build

test: fix useClientManagement async loading state test
  frontend/src/hooks/__tests__/useClientManagement.test.ts
Due: eslint, tsc, prettier, nextjs-build

refactor: add cleanup and optimize hooks for memory safety
  frontend/src/components/clients/__tests__/ClientTableRow.test.tsx
  frontend/src/hooks/use-card-sync.ts
  frontend/src/hooks/use-room-participants.ts
  frontend/src/lib/__tests__/throttle-debounce.test.ts
  frontend/src/lib/throttle-debounce.ts
Due: eslint, tsc, prettier, nextjs-build

test: fix E2E tests to use baseURL from config
  frontend/e2e/refactoring-smoke-test.spec.ts
Due: eslint, tsc, prettier, nextjs-build
