Repository Youngger9765/career-creator: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, prettier

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-case-conflict

  # Python - Black formatter
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        files: ^backend/
        language_version: python3.11

  # Python - isort (import sorting)
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/
        args: ["--profile", "black"]

  # Python - Flake8 linter
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: ^backend/
        args:
          - --max-line-length=88  # Match Black's line length
          - --extend-ignore=E203,W503  # Compatible with Black
          - --exclude=backend/alembic/versions/*

  # Python - Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        files: ^backend/
        args: [--ignore-missing-imports, --no-strict-optional]
        additional_dependencies:
          - types-python-dateutil
          - types-requests
          - sqlmodel
          - pydantic

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Frontend - TypeScript Compiler
  - repo: local
    hooks:
      - id: tsc
        name: TypeScript Compiler
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

  # Frontend - Prettier formatter
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css,md,json}"'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|css|md|json)$
        pass_filenames: false

  # SQL formatter (for migrations)
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.0.2
    hooks:
      - id: sqlfluff-lint
        files: ^backend/alembic/versions/.*\.py$
        args: [--dialect, postgres]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        files: ^backend/
        args: [-r, backend/, --skip, B101]  # Skip assert_used test

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: ^frontend/node_modules/

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        files: Dockerfile$

  # Check for secrets
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

# Configuration for specific tools
exclude: |
  (?x)^(
    frontend/node_modules/|
    frontend/.next/|
    frontend/out/|
    backend/__pycache__/|
    backend/.pytest_cache/|
    backend/venv/|
    backend/env/|
    .*\.min\.js|
    .*\.min\.css
  )

default_language_version:
  python: python3.11
  node: 18.17.0

fix: disable GitHub environments in workflow
  .github/workflows/deploy.yaml
Due: none

fix: simplify GitHub Actions workflow
  .github/workflows/deploy.yaml
Due: none

fix: move autoprefixer and postcss to production dependencies
  frontend/package.json
Due: prettier

fix: improve Docker build configuration and workflow
  frontend/next.config.js
Due: eslint, prettier

fix: update GitHub Actions workflow for proper Docker build context
  .github/workflows/deploy.yaml
Due: none

debug: add file structure verification to Docker build
  frontend/Dockerfile
  frontend/test-imports.js
Due: eslint, prettier

fix: improve TypeScript module resolution for Docker builds
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/tsconfig.json
Due: prettier

fix: install all dependencies for Docker build including devDependencies
  frontend/Dockerfile
Due: none

fix: simplify Docker configuration to standard single-stage build
  frontend/Dockerfile
  frontend/next.config.js
  frontend/tsconfig.json
Due: eslint, prettier

test: use relative paths instead of @ alias to fix Docker build
  frontend/src/app/dashboard/page.tsx
Due: eslint, tsc, prettier

fix: convert more @ imports to relative paths for Docker compatibility
  frontend/src/app/join/[shareCode]/page.tsx
  frontend/src/app/join/page.tsx
Due: eslint, tsc, prettier

fix: update Google Cloud authentication to use google-github-actions/auth@v2
  .github/workflows/deploy.yaml
Due: none

feat: add backend deployment infrastructure for Cloud Run
  .github/workflows/deploy-backend.yaml
  backend/Dockerfile
Due: none

fix: add missing pydantic-settings dependency for backend deployment
  backend/requirements.txt
Due: none

fix: configure CORS to allow staging frontend URL
  backend/alembic/versions/3f5f3d3df8f2_add_roles_column_to_users_table.py
  backend/app/main.py
Due: none

fix: update demo account credentials in login page
  frontend/src/app/login/page.tsx
Due: eslint, tsc, prettier

fix: standardize demo account passwords to demo123
  backend/app/core/seeds.py
  backend/scripts/seed_test_data.py
  backend/seed_db.py
  frontend/src/app/login/page.tsx
Due: eslint, tsc, prettier

fix: add NEXT_PUBLIC_API_URL environment variable to Cloud Run deployment
  .github/workflows/deploy.yaml
Due: none

fix: ensure position numbers remain visible in value grid when cards are placed
  frontend/src/components/consultation/ResponsiveValueGrid.tsx
  frontend/src/components/consultation/ValueGridCanvas.tsx
Due: eslint, tsc, prettier

feat: add emoji property to CardData interface
  frontend/src/types/cards.ts
Due: eslint, tsc, prettier

fix: auxiliary cards can now only be dragged once and restored on delete
  frontend/src/components/consultation/ConsultationAreaNew.tsx
Due: eslint, tsc, prettier

feat: change card interaction from drag to click-flip
  frontend/src/app/globals.css
  frontend/src/components/DraggableCardPreview.tsx
Due: eslint, tsc, prettier

feat: implement unified card interaction system with flip and drag
  backend/alembic/versions/3f5f3d3df8f2_add_roles_column_to_users_table.py
  backend/scripts/clean-staging-db.py
  backend/scripts/rebuild-staging-db.sh
  backend/scripts/run-migrations.sh
  frontend/src/components/consultation/CardList.tsx
  frontend/src/components/consultation/ConsultationAreaNew.tsx
  frontend/src/components/consultation/DraggableCard.tsx
  run-staging-migration.sh
Due: eslint, tsc, prettier

feat: enhance security checks and fix vulnerabilities
  .gitleaks.toml
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  scripts/security-check.sh
Due: prettier

feat: add comprehensive database management system
  backend/app/api/admin.py
  backend/app/main.py
  backend/app/models/user.py
  backend/scripts/seed-staging.sh
  frontend/next-env.d.ts
  frontend/src/app/admin/database/page.tsx
  frontend/src/app/admin/layout.tsx
  frontend/src/app/dashboard/page.tsx
Due: eslint, tsc, prettier

fix: improve admin API security annotations
  backend/app/api/admin.py
Due: none

fix: update admin login credentials to correct demo account
  frontend/src/app/login/page.tsx
Due: eslint, tsc, prettier

chore: trigger CI/CD deployment
  frontend/README.md
Due: prettier

chore: trigger backend deployment for admin API
  backend/README.md
Due: none

debug: fix admin API loading issue
  backend/README.md
  backend/app/main.py
Due: none

feat: implement room update and delete UI with TDD approach
  CLAUDE.md
  PRD.md
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/rooms/page.tsx
  frontend/src/components/DraggableCardPreview.tsx
  frontend/src/components/rooms/DeleteRoomDialog.tsx
  frontend/src/components/rooms/EditRoomDialog.tsx
  frontend/src/components/rooms/__tests__/DeleteRoomDialog.test.tsx
  frontend/src/components/rooms/__tests__/EditRoomDialog.test.tsx
  frontend/src/test/setup.ts
  frontend/tsconfig.json
Due: eslint, tsc, prettier

refactor: improve UI styling with shadcn/ui components
  README.md
  frontend/.env.local.example
  frontend/package.json
  frontend/src/components/rooms/DeleteRoomDialog.tsx
  frontend/src/components/rooms/EditRoomDialog.tsx
Due: eslint, tsc, prettier

feat: add automatic image cleanup to CI/CD pipelines
  .github/workflows/deploy-backend.yaml
  .github/workflows/deploy.yaml
Due: none

refactor: rename deploy.yaml to deploy-frontend.yaml for clarity
  .github/workflows/deploy-frontend.yaml
  docs/CICD_IMAGE_CLEANUP_VERIFICATION.md
  scripts/test-image-cleanup.sh
Due: none

feat: add root-level file monitoring to CI/CD triggers
  .github/workflows/deploy-backend.yaml
  .github/workflows/deploy-frontend.yaml
Due: none

revert: simplify CI/CD triggers and restore original naming
  .github/workflows/deploy-backend.yaml
  .github/workflows/deploy.yaml
Due: none

feat: add deploy-all workflow for root-level changes
  .github/workflows/deploy-all.yaml
  .github/workflows/deploy-frontend.yaml
Due: none

fix: reduce deploy-all triggers to prevent excessive deployments
  .github/workflows/deploy-all.yaml
Due: none

feat: add edit and delete UI buttons for rooms in dashboard
  frontend/src/app/dashboard/page.tsx
Due: eslint, tsc, prettier
