Repository Youngger9765/career-creator: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, prettier, npm-audit

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript Compiler
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css,md,json}"'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=high'
  language: system
  pass_filenames: false

docs: add weekly report 2025-09-30 with sync testing guide
  ARCHITECTURE.md
  PRD.md
  SYNC_ARCHITECTURE.md
  WEEKLY_REPORT_2025-09-30.md
  docs/LOCALSTORAGE_TO_BACKEND_MIGRATION.md
  docs/ONLINE_PRESENCE_SURVEY.md
  docs/SUPABASE_SETUP.md
  docs/SUPABASE_SYNC_IMPLEMENTATION.md
  docs/SYNC_MECHANISM_PLAN.md
  docs/THREE_FEATURES_ASSESSMENT.md
  docs/WEBSOCKET_VS_POLLING_ANALYSIS.md
Due: none

docs: update PRD with project management focus
  PRD.md
Due: none

feat: integrate RIASEC explanation cards with enhanced data structure
  frontend/src/components/games/PersonalityAnalysisGame.tsx
  frontend/src/game-modes/data/cards/riasec-cards.json
Due: eslint, tsc, prettier

chore: reorganize pre-commit hooks into commit and push stages
  .pre-commit-config.yaml
  PRD.md
Due: none

docs: fix formatting in PRD decision point section
  PRD.md
Due: none

feat: improve room exit and sync status UX
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/app/room/[id]/page.tsx
Due: eslint, tsc, prettier

feat: implement card reordering across all game modes
  frontend/src/components/game-canvases/CollectionCanvas.tsx
  frontend/src/components/game-canvases/GridCanvas.tsx
  frontend/src/components/game-canvases/JobDecompositionCanvas.tsx
  frontend/src/components/game-canvases/ThreeColumnCanvas.tsx
  frontend/src/components/games/CareerCollectorGame.tsx
  frontend/src/components/games/PersonalityAnalysisGame.tsx
  frontend/src/components/games/PositionBreakdownGame.tsx
  frontend/src/components/games/ValueRankingGame.tsx
  frontend/src/hooks/use-unified-card-sync.ts
Due: eslint, tsc, prettier

feat: implement dual view modes and compact card display
  frontend/src/components/common/CardModal.tsx
  frontend/src/components/common/CardSidebar.tsx
  frontend/src/components/common/DropZone.tsx
  frontend/src/components/game-canvases/CollectionCanvas.tsx
  frontend/src/components/game-canvases/GridCanvas.tsx
  frontend/src/components/game-canvases/JobDecompositionCanvas.tsx
  frontend/src/components/game-canvases/ThreeColumnCanvas.tsx
Due: eslint, tsc, prettier

feat: add view mode toggle and card viewing improvements
  frontend/src/components/common/DropZone.tsx
  frontend/src/components/game-canvases/CollectionCanvas.tsx
Due: eslint, tsc, prettier

feat: simplify max cards editor UX
  frontend/src/components/common/DropZone.tsx
  frontend/src/components/game-canvases/CollectionCanvas.tsx
Due: eslint, tsc, prettier

refactor: unify demo accounts with UUID and clean up schema
  .pre-commit-config.yaml
  backend/alembic/versions/20251006_2141_2b809c8b2d6f_initial_schema_with_uuid_counselor_id.py
  backend/alembic/versions/22be22c070f8_add_game_sessions_and_action_records_.py
  backend/alembic/versions/2efed28d9327_clean_initial_schema.py
  backend/alembic/versions/3e221db22b12_remove_unique_constraint_from_clients_.py
  backend/alembic/versions/3f5f3d3df8f2_add_roles_column_to_users_table.py
  backend/alembic/versions/4a5b6c7d8e9f_add_client_crm_tables.py
  backend/alembic/versions/ad73d5183987_implement_client_ownership_model_with_.py
  backend/alembic/versions/b244663ab6e4_fix_counselor_id_type_for_demo_accounts.py
  backend/alembic/versions/fa38dbf3ca11_add_game_rules_and_card_deck_models_for_.py
  backend/app/api/card_events.py.bak
  backend/app/api/clients.py
  backend/app/api/game_sessions.py.bak
  backend/app/api/rooms.py
  backend/app/core/auth.py
  backend/app/core/seeds.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/card_event.py.bak
  backend/app/models/client.py
  backend/app/models/game_state.py.bak
  backend/app/models/room.py
  backend/app/models/user.py
  backend/tests/conftest.py
  backend/tests/factories.py
  backend/tests/test_auth.py
  backend/tests/test_card_events.py.bak
  backend/tests/test_game_engine.py
  backend/tests/test_game_sessions.py.bak
  backend/tests/test_integration.py
  backend/tests/test_permissions.py
  backend/tests/test_room_deletion.py
  backend/tests/test_rooms.py
  backend/tests/test_visitors.py
  backend/tests/test_with_factories.py
Due: none

feat: add delete button to room list in dashboard
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/rooms/RoomListTable.tsx
Due: eslint, tsc, prettier

feat: remove overview tab and add delete to client rooms
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/clients/ClientManagement.tsx
Due: eslint, tsc, prettier

fix: correct client name field in room list API
  backend/app/api/rooms.py
Due: none

fix: remove card events API calls from dashboard to prevent 404 errors
  frontend/src/app/dashboard/page.tsx
Due: eslint, tsc, prettier

feat: redesign dashboard with collapsible sidebar and streamline client management
  backend/app/api/rooms.py
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/clients/ClientManagement.tsx
Due: eslint, tsc, prettier

fix: prevent sidebar from expanding with content height
  frontend/src/app/dashboard/page.tsx
Due: eslint, tsc, prettier

feat: improve JD preview UX in position breakdown game
  frontend/src/components/common/PDFUploader.tsx
  frontend/src/components/game-canvases/JobDecompositionCanvas.tsx
Due: eslint, tsc, prettier

chore: apply pre-commit hook auto-fixes
  .pre-commit-config.yaml
  backend/alembic/versions/20251006_2141_2b809c8b2d6f_initial_schema_with_uuid_counselor_id.py
  backend/app/api/clients.py
  backend/app/core/seeds.py
  backend/app/main.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/factories.py
  backend/tests/test_auth.py
  backend/tests/test_game_engine.py
  backend/tests/test_integration.py
  backend/tests/test_permissions.py
  backend/tests/test_room_deletion.py
  backend/tests/test_rooms.py
  backend/tests/test_visitors.py
  backend/tests/test_with_factories.py
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/common/CardModal.tsx
  frontend/src/components/common/CardSidebar.tsx
  frontend/src/components/common/DropZone.tsx
  frontend/src/components/games/CareerCollectorGame.tsx
  frontend/src/components/games/PersonalityAnalysisGame.tsx
  frontend/src/components/rooms/RoomListTable.tsx
Due: eslint, tsc, prettier

feat: add automatic database migrations to CI/CD pipeline
  .github/workflows/deploy-backend.yaml
Due: none

feat: add counselor notes drawer for room sessions
  backend/alembic/versions/13770a4dde04_add_counselor_notes_table.py
  backend/app/api/counselor_notes.py
  backend/app/main.py
  backend/app/models/counselor_note.py
  backend/app/models/room.py
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/room/NotesDrawer.tsx
  frontend/src/hooks/use-game-session.ts
  frontend/src/hooks/use-room-participants.ts
  frontend/src/lib/api/card-events.ts
  frontend/src/lib/api/game-sessions.ts
Due: eslint, tsc, prettier

fix: install all backend dependencies for database migrations
  .github/workflows/deploy-backend.yaml
Due: none

fix: transform pooled DB URL to direct URL for migrations
  .github/workflows/deploy-backend.yaml
Due: none

fix: try removing pooler segment for DB direct connection
  .github/workflows/deploy-backend.yaml
Due: none

fix: add debug logging and use correct direct DB URL
  .github/workflows/deploy-backend.yaml
Due: none

fix: use DATABASE_POOLER_URL for CI/CD migrations
  .github/workflows/deploy-backend.yaml
Due: none

fix: remove subtitle text from advantage/disadvantage zones
  frontend/src/components/game-canvases/TwoZoneCanvas.tsx
Due: eslint, tsc, prettier

docs: update PRD with Month 2 progress and completion status
  PRD.md
Due: none

fix: improve counselor notes drawer UX
  PRD.md
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/room/NotesDrawer.tsx
Due: eslint, tsc, prettier

docs: add Week 7 progress report (2025-10-07)
  WEEKLY_REPORT_2025-10-07.md
Due: none

docs: add client-room simplification spec and update PRD with progress tracking
  PRD.md
  docs/SPEC_CLIENT_ROOM_SIMPLIFICATION.md
Due: none

docs: add client-room simplification to Month 2 requirements in PRD
  PRD.md
Due: none

feat: implement client-room simplification backend features
  backend/alembic/versions/e172d56da2b6_add_screenshots_game_state_to_.py
  backend/app/api/clients.py
  backend/app/models/client.py
Due: none

feat: add screenshot upload endpoint and storage service
  backend/app/api/clients.py
  backend/app/services/storage.py
Due: none

fix: remove f-string without placeholders
  backend/.env.example
  backend/app/services/storage.py
  backend/requirements.txt
Due: none

feat: update Client and ConsultationRecord types for simplified UX
  frontend/src/types/client.ts
Due: eslint, tsc, prettier

feat: implement frontend UI for client-room screenshot features
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/clients/ClientManagement.tsx
  frontend/src/lib/api/clients.ts
  frontend/src/lib/api/rooms.ts
Due: eslint, tsc, prettier, npm-audit

docs: mark client-room simplification as completed in PRD
  PRD.md
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  tsc: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|md|json)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

