Repository Youngger9765/career-creator: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, prettier, npm-audit

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  tsc: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|md|json)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)


feat: integrate card events API with TDD approach
  frontend/src/__tests__/card-events.test.tsx
  frontend/src/components/consultation/CardList.tsx
  frontend/src/components/consultation/ConsultationAreaNew.tsx
  frontend/src/components/consultation/DraggableCard.tsx
  frontend/src/hooks/use-card-events.ts
Due: eslint, tsc, prettier

feat: complete TDD implementation for all MVP features
  frontend/src/__tests__/room-expiration.test.tsx
  frontend/src/__tests__/room-statistics.test.tsx
  frontend/src/__tests__/visitor-flow.test.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/join/[shareCode]/page.tsx
  frontend/src/app/join/page.tsx
  frontend/src/components/rooms/RoomCard.tsx
  frontend/src/components/rooms/RoomStatisticsCard.tsx
  frontend/src/components/rooms/__tests__/DeleteRoomDialog.test.tsx
  frontend/src/hooks/use-room-expiration.ts
  frontend/src/hooks/use-room-statistics.ts
  frontend/src/hooks/use-visitor-join.ts
  frontend/src/lib/api/visitors.ts
  frontend/src/types/api.ts
Due: eslint, tsc, prettier

fix: properly filter deleted rooms in API and frontend
  backend/app/api/rooms.py
  backend/tests/test_room_deletion.py
  frontend/src/lib/api/rooms.ts
Due: eslint, tsc, prettier

style: apply code formatting fixes
  backend/app/api/rooms.py
  backend/tests/test_room_deletion.py
Due: none

docs: update PRD with completed room CRUD features
  PRD.md
Due: none

test: fix all test suite issues and improve test infrastructure
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/room-management.test.tsx
  frontend/src/__tests__/room-page-integration.test.tsx
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/consultation/ConsultationAreaNew.tsx
  frontend/src/components/rooms/DeleteRoomDialog.tsx
  frontend/vitest.config.ts
Due: eslint, tsc, prettier, npm-audit

feat: add visitor components and game session management
  frontend/src/__tests__/game-session.test.tsx
  frontend/src/__tests__/visitor-components.test.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/visitor/VisitorGuidance.tsx
  frontend/src/components/visitor/VisitorWelcome.tsx
  frontend/src/hooks/use-game-session.ts
Due: eslint, tsc, prettier

chore: ignore test credentials and utility scripts
  .gitignore
Due: none

docs: update PRD with client requirement review TODO
  PRD.md
Due: none

feat: artifact cleanup automation and smart polling optimization
  .github/workflows/artifact-cleanup.yml
  PERFORMANCE_TEST.md
  frontend/src/components/consultation/ConsultationAreaNew.tsx
  frontend/src/hooks/use-card-sync.ts
  frontend/src/lib/services/card-sync.ts
  scripts/monitor_artifact_costs.sh
Due: eslint, tsc, prettier

feat: add participant list with real-time presence tracking
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/consultation/ConsultationAreaNew.tsx
  frontend/src/components/room/ParticipantList.tsx
  frontend/src/hooks/use-card-sync.ts
  frontend/src/hooks/use-room-participants.ts
Due: eslint, tsc, prettier

fix: resolve CORS issues and improve visitor join functionality
  backend/app/main.py
  frontend/src/app/dashboard/page.tsx
  frontend/src/hooks/use-visitor-join.ts
Due: eslint, tsc, prettier

fix: critical fixes for dropdown selectors and polling issues
  frontend/src/app/room/[id]/page.tsx
  frontend/src/app/rooms/create/page.tsx
  frontend/src/hooks/use-card-sync.ts
Due: eslint, tsc, prettier

fix: ensure game rule selector defaults to first option when deck changes
  frontend/src/app/room/[id]/page.tsx
Due: eslint, tsc, prettier

fix: improve UI components and UX wording
  frontend/src/app/globals.css
  frontend/src/components/DraggableCardPreview.tsx
  frontend/src/components/consultation/DraggableCard.tsx
  frontend/src/hooks/use-room-expiration.ts
Due: eslint, tsc, prettier

feat: add tooltips with help icons to explain room status labels
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/rooms/RoomCard.tsx
  frontend/src/components/ui/tooltip.tsx
Due: eslint, tsc, prettier, npm-audit

docs: expand PRD with comprehensive 9-gameplay architecture
  PRD.md
Due: none

feat: translate UI text to Chinese and update PRD
  PRD.md
  backend/app/core/seeds.py
Due: none

feat: remove WebSocket infrastructure and fix dark mode UI
  backend/app/api/game_sessions.py
  backend/app/api/websocket.py
  backend/app/game/engine.py
  backend/app/main.py
  backend/tests/test_websocket.py
  frontend/.env.local.example
  frontend/src/__tests__/card-events.test.tsx
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/ConsultationArea.tsx
  frontend/src/components/consultation/AdvantageDisadvantageCanvas.tsx
  frontend/src/components/consultation/ConsultationAreaNew.tsx
  frontend/src/components/consultation/DraggableCard.tsx
  frontend/src/components/consultation/PersonalityCanvas.tsx
  frontend/src/components/consultation/ValueGridCanvas.tsx
  frontend/src/hooks/use-card-events.ts
  frontend/src/hooks/use-card-sync.ts
  frontend/src/hooks/use-game-session.ts
  frontend/src/hooks/use-websocket.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/game-sessions.ts
  frontend/src/lib/services/card-sync.ts
  frontend/src/lib/websocket-client.ts
  frontend/src/stores/game-session-store.ts
  frontend/src/stores/room-store.ts
  frontend/src/types/api.ts
Due: eslint, tsc, prettier

docs: add TDD refactoring plan for three-mode game architecture
  TDD_GAME_MODE_ARCHITECTURE_REFACTOR.md
Due: none

feat: implement three-mode game architecture with TDD approach
  GAME_CONFIG_STRATEGY.md
  MISSING_COMPONENTS.md
  TDD_GAME_MODE_ARCHITECTURE_REFACTOR.md
  frontend/src/__tests__/card-data-integrity.test.ts
  frontend/src/__tests__/game-modes-basic.test.tsx
  frontend/src/game-modes/adapters/legacy-adapter.ts
  frontend/src/game-modes/data/canvas/canvas-configs.json
  frontend/src/game-modes/data/cards/career-cards.json
  frontend/src/game-modes/data/cards/riasec-cards.json
  frontend/src/game-modes/data/cards/skill-cards.json
  frontend/src/game-modes/data/cards/value-cards.json
  frontend/src/game-modes/services/card-loader.service.ts
  frontend/src/game-modes/services/mode.service.ts
  frontend/src/game/engine.ts
  frontend/src/game/rules/rule-factory.ts
  frontend/src/game/types.ts
  frontend/src/token-system/TokenManager.ts
Due: eslint, tsc, prettier

feat: integrate game mode architecture with room page
  frontend/e2e/game-mode-integration.spec.ts
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/app/room/[id]/page.tsx
  frontend/src/game-modes/components/GameplaySelector.tsx
  frontend/src/game-modes/components/ModeSelector.tsx
  frontend/src/token-system/components/TokenControls.tsx
  frontend/src/token-system/components/TokenDisplay.tsx
Due: eslint, tsc, prettier

feat: create simplified card datasets for development and testing
  frontend/src/game-modes/data/cards/career-cards.json
  frontend/src/game-modes/data/cards/skill-cards.json
Due: prettier

style: apply pre-commit formatting to card data files
  frontend/src/game-modes/data/cards/career-cards.json
  frontend/src/game-modes/data/cards/skill-cards.json
Due: prettier

feat: update RIASEC cards with enhanced content and formatting
  frontend/src/game-modes/data/cards/riasec-cards.json
Due: prettier

fix: add missing UI components and enhance pre-commit hooks
  .pre-commit-config.yaml
  MISSING_COMPONENTS.md
  PERFORMANCE_TEST.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/card-data-integrity.test.ts
  frontend/src/__tests__/game-modes-basic.test.tsx
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/slider.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/game-modes/adapters/legacy-adapter.ts
  frontend/src/game-modes/components/GameplaySelector.tsx
  frontend/src/game-modes/components/ModeSelector.tsx
  frontend/src/game-modes/data/cards/career-cards.json
  frontend/src/game-modes/data/cards/riasec-cards.json
  frontend/src/game-modes/data/cards/skill-cards.json
  frontend/src/game-modes/data/cards/value-cards.json
  frontend/src/game-modes/services/card-loader.service.ts
  frontend/src/game-modes/services/mode.service.ts
  frontend/src/game/engine.ts
  frontend/src/game/rules/rule-factory.ts
  frontend/src/token-system/TokenManager.ts
  frontend/src/token-system/components/TokenControls.tsx
  frontend/src/token-system/components/TokenDisplay.tsx
Due: eslint, tsc, prettier, npm-audit

fix: resolve all dark mode visibility issues for buttons
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/token-system/components/TokenControls.tsx
Due: eslint, tsc, prettier

feat: implement auto-advance between game mode selection tabs
  frontend/src/app/room/[id]/GameModeIntegration.tsx
Due: eslint, tsc, prettier

feat: integrate canvas layouts into new game mode architecture
  frontend/src/app/room/[id]/GameModeIntegration.tsx
Due: eslint, tsc, prettier

feat: modularize game canvas components for better maintainability
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/components/game-canvases/GridCanvas.tsx
  frontend/src/components/game-canvases/ThreeColumnCanvas.tsx
  frontend/src/components/game-canvases/TwoZoneCanvas.tsx
Due: eslint, tsc, prettier

feat: improve card management and canvas layout
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/components/game-canvases/CardItem.tsx
  frontend/src/components/game-canvases/GridCanvas.tsx
  frontend/src/components/game-canvases/ThreeColumnCanvas.tsx
  frontend/src/components/game-canvases/TwoZoneCanvas.tsx
Due: eslint, tsc, prettier

fix: separate test panel collapse from main game interface
  frontend/src/app/room/[id]/GameModeIntegration.tsx
Due: eslint, tsc, prettier

fix: improve test panel collapse behavior and remove redundant UI
  frontend/src/app/room/[id]/GameModeIntegration.tsx
Due: eslint, tsc, prettier

feat: implement CollectionCanvas for career collector game mode
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/components/game-canvases/CollectionCanvas.tsx
Due: eslint, tsc, prettier

feat: implement GrowthPlanCanvas with enhanced UI
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/components/game-canvases/GrowthPlanCanvas.tsx
  frontend/src/components/ui/textarea.tsx
Due: eslint, tsc, prettier

refactor: transform GridCanvas to 3+1 layout for value ranking
  frontend/src/components/game-canvases/GridCanvas.tsx
Due: eslint, tsc, prettier

feat: add drag-and-drop reordering within ThreeColumnCanvas zones
  frontend/src/components/game-canvases/ThreeColumnCanvas.tsx
Due: eslint, tsc, prettier

feat: add dynamic collection limit with auto-locking for CollectionCanvas
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/components/game-canvases/CollectionCanvas.tsx
Due: eslint, tsc, prettier

feat: add dynamic card limits and tab switching for advantage analysis
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/components/game-canvases/TwoZoneCanvas.tsx
Due: eslint, tsc, prettier

fix: update zone labels and add card type restrictions
  frontend/src/app/room/[id]/GameModeIntegration.tsx
  frontend/src/components/game-canvases/TwoZoneCanvas.tsx
Due: eslint, tsc, prettier
