Repository Youngger9765/career-creator: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, prettier, npm-audit

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript Compiler
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css,md,json}"'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=high'
  language: system
  pass_filenames: false

refactor: change multi-user CSV to single user quick add form
  frontend/src/app/admin/users/page.tsx
Due: eslint, tsc, prettier

fix: simplify CSV template to email,password only
  frontend/src/app/admin/users/page.tsx
Due: eslint, tsc, prettier

fix: skip CSV header row and support custom passwords in whitelist import
  backend/app/api/admin.py
Due: none

feat: CSV whitelist import now auto-overwrites existing users
  backend/app/api/admin.py
  frontend/src/app/admin/users/page.tsx
Due: eslint, tsc, prettier

fix: resolve test failures and adjust coverage threshold
  backend/alembic/env.py
  backend/alembic/versions/f0f89f0bbfc6_add_must_change_password_to_users_table_.py
  backend/alembic/versions/f719605bbb30_add_password_reset_tokens_table.py
  backend/app/api/admin.py
  backend/pyproject.toml
  frontend/src/app/admin/users/page.tsx
  frontend/src/app/change-password/page.tsx
  frontend/src/app/forgot-password/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/reset-password/page.tsx
Due: eslint, tsc, prettier

docs: add October monthly report and update PRD v4.8
  PRD.md
  WEEKLY_REPORT_2025-10-21.md
Due: none

docs: add token system redesign to October report
  WEEKLY_REPORT_2025-10-21.md
Due: none

fix: improve notes text visibility and life transformation game UI
  frontend/src/components/games/CardTokenWidget.tsx
  frontend/src/components/games/LifeTransformationGame.tsx
  frontend/src/components/room/NotesDrawer.tsx
Due: eslint, tsc, prettier

docs: add Playwright E2E testing standards and mindset
  CLAUDE.md
Due: none

fix: resolve React Hooks dependency warning in NotesDrawer
  frontend/src/components/room/NotesDrawer.tsx
  frontend/src/components/room/__tests__/NotesDrawer.test.tsx
Due: eslint, tsc, prettier

test: reorganize Playwright tests and add E2E test suite
  frontend/e2e/drag-drop.spec.ts
  frontend/e2e/ui-fixes.spec.ts
  frontend/playwright.config.ts
Due: eslint, tsc, prettier

chore: ignore Playwright test reports and results
  .gitignore
Due: none

test: add comprehensive API layer tests (auth, rooms, visitors)
  frontend/src/lib/api/__tests__/auth.test.ts
  frontend/src/lib/api/__tests__/rooms.test.ts
  frontend/src/lib/api/__tests__/visitors.test.ts
Due: eslint, tsc, prettier

docs: add comprehensive code quality review report
  CODE_REVIEW_2025-10-22.md
Due: none

chore: disable Next.js img-element rule for dynamic images
  frontend/.eslintrc.json
Due: prettier

test: skip failing tests with descriptive comments
  frontend/src/__tests__/card-data-integrity.test.ts
  frontend/src/__tests__/game-session.test.tsx
  frontend/src/__tests__/game-state-store.test.ts
  frontend/src/__tests__/room-expiration.test.tsx
  frontend/src/__tests__/room-page-integration.test.tsx
  frontend/src/__tests__/visitor-components.test.tsx
  frontend/src/__tests__/visitor-flow.test.tsx
  frontend/src/components/clients/__tests__/ClientManagement.test.tsx
  frontend/src/components/rooms/__tests__/DeleteRoomDialog.test.tsx
  frontend/src/components/rooms/__tests__/EditRoomDialog.test.tsx
Due: eslint, tsc, prettier

fix: resolve React Hooks dependency warnings
  frontend/src/app/admin/database/page.tsx
  frontend/src/app/room/[id]/page.tsx
  frontend/src/components/ConsultationArea.tsx
  frontend/src/components/games/GrowthPlanningGame.tsx
  frontend/src/components/games/LifeTransformationGame.tsx
  frontend/src/hooks/use-game-mode-sync.ts
  frontend/src/hooks/use-game-session.ts
  frontend/src/hooks/use-room-participants.ts
  frontend/src/hooks/use-unified-card-sync.ts
Due: eslint, tsc, prettier

fix: resolve all remaining React Hooks warnings
  frontend/src/components/ConsultationArea.tsx
  frontend/src/components/games/LifeTransformationGame.tsx
  frontend/src/hooks/use-presence.ts
Due: eslint, tsc, prettier

chore: migrate GCP project from career-creator-472207 to career-creator-card
  .github/workflows/artifact-cleanup.yml
  .github/workflows/deploy-all.yaml
  .github/workflows/deploy-backend.yaml
  .github/workflows/deploy-frontend.yaml
  CLAUDE.md
Due: none

docs: add GCP migration TODO checklist
  TODO.md
Due: none

refactor: extract mockCards data from ConsultationArea component
  REFACTORING_NEEDED.md
  frontend/src/components/ConsultationArea.tsx
  frontend/src/data/mockCards.ts
Due: eslint, tsc, prettier

test: fix Playwright test selectors and skip outdated tests
  frontend/e2e/drag-drop.spec.ts
Due: eslint, tsc, prettier

test: add refactoring smoke tests and skip outdated tests
  frontend/e2e/drag-drop.spec.ts
  frontend/e2e/game-mode-integration.spec.ts
  frontend/e2e/refactoring-smoke-test.spec.ts
Due: eslint, tsc, prettier

test: remove outdated tests and clean up test suite
  frontend/e2e/drag-drop.spec.ts
  frontend/e2e/game-mode-integration.spec.ts
  frontend/e2e/ui-fixes.spec.ts
Due: eslint, tsc, prettier

docs: update REFACTORING_NEEDED.md with Phase 1 Step 1 completion
  REFACTORING_NEEDED.md
Due: none

refactor: extract useCardManagement hook from ConsultationArea (Phase 1 Step 2)
  frontend/src/components/ConsultationArea.tsx
  frontend/src/hooks/__tests__/useCardManagement.test.ts
  frontend/src/hooks/useCardManagement.ts
Due: eslint, tsc, prettier

docs: update REFACTORING_NEEDED.md with Phase 1 Step 2 completion
  REFACTORING_NEEDED.md
Due: none

refactor: extract useTokenManagement hook from ConsultationArea (Phase 1 Step 3)
  frontend/src/components/ConsultationArea.tsx
  frontend/src/hooks/__tests__/useTokenManagement.test.ts
  frontend/src/hooks/useTokenManagement.ts
Due: eslint, tsc, prettier

docs: update REFACTORING_NEEDED.md with Phase 1 Step 3 completion
  REFACTORING_NEEDED.md
Due: none

refactor: extract useClientManagement hook from ClientManagement (Phase 2 Step 1)
  frontend/src/components/clients/ClientManagement.tsx
  frontend/src/hooks/__tests__/useClientManagement.test.ts
  frontend/src/hooks/useClientManagement.ts
Due: eslint, tsc, prettier

docs: update REFACTORING_NEEDED.md with Phase 2 Step 1 completion
  REFACTORING_NEEDED.md
Due: none

refactor: extract ClientTableRow component from ClientManagement (Phase 2 Step 2)
  frontend/src/components/clients/ClientManagement.tsx
  frontend/src/components/clients/ClientTableRow.tsx
  frontend/src/components/clients/__tests__/ClientTableRow.test.tsx
Due: eslint, tsc, prettier

refactor: extract ClientMobileCard component from ClientManagement (Phase 2 Step 3)
  REFACTORING_NEEDED.md
  frontend/src/components/clients/ClientManagement.tsx
  frontend/src/components/clients/ClientMobileCard.tsx
  frontend/src/components/clients/__tests__/ClientMobileCard.test.tsx
  frontend/src/hooks/useClientManagement.ts
Due: eslint, tsc, prettier

feat: migrate production to new GCP project
  .github/workflows/deploy-all.yaml
Due: none

style: apply prettier formatting to client components and hooks
  frontend/src/components/clients/ClientManagement.tsx
  frontend/src/components/clients/ClientMobileCard.tsx
  frontend/src/components/clients/__tests__/ClientMobileCard.test.tsx
  frontend/src/components/clients/__tests__/ClientTableRow.test.tsx
  frontend/src/hooks/__tests__/useCardManagement.test.ts
  frontend/src/hooks/__tests__/useClientManagement.test.ts
  frontend/src/hooks/useCardManagement.ts
Due: eslint, tsc, prettier

style: apply black formatting to game_rule.py
  backend/app/models/game_rule.py
Due: none

fix: force auth to use career-creator-card project ID
  .github/workflows/deploy-all.yaml
Due: none

fix: force GCP auth to use career-creator-card project
  .github/workflows/deploy-backend.yaml
  .github/workflows/deploy-frontend.yaml
Due: none

fix: update CORS origins to new Cloud Run URLs
  backend/app/main.py
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  tsc: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|md|json)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

