Repository Youngger9765/career-creator: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc, npm-audit, prettier, pytest, nextjs-build

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript Compiler
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=high'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{js,jsx,ts,tsx,css,md,json}"'
  language: system
  pass_filenames: false
  stages:
  - push

pytest:
  name: Pytest
  entry: bash -c 'cd backend && pytest --tb=short'
  language: system
  pass_filenames: false
  stages:
  - push

nextjs-build:
  name: Next.js Build Check
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false
  stages:
  - push

ci: add E2E tests to deployment pipeline
  .github/workflows/deploy-frontend.yaml
Due: none

test: fix all E2E tests to use baseURL from config
  frontend/e2e/card-modal.spec.ts
  frontend/e2e/test-modal-page.spec.ts
Due: eslint, tsc, prettier, nextjs-build

chore: markdownlint auto-fixes
  PRD.md
Due: none

refactor: remove obsolete E2E tests
  frontend/e2e/auth.setup.ts
  frontend/e2e/card-modal.spec.ts
  frontend/e2e/test-modal-page.spec.ts
  frontend/e2e/ui-fixes.spec.ts
  frontend/playwright.config.ts
  frontend/src/app/test-modal/page.tsx
Due: eslint, tsc, prettier, nextjs-build

test: remove obsolete skipped unit tests
  frontend/src/__tests__/card-events.test.tsx
  frontend/src/__tests__/game-session.test.tsx
  frontend/src/__tests__/game-state-store.test.ts
  frontend/src/__tests__/room-expiration.test.tsx
  frontend/src/__tests__/room-page-integration.test.tsx
  frontend/src/__tests__/visitor-components.test.tsx
  frontend/src/__tests__/visitor-flow.test.tsx
  frontend/src/components/clients/__tests__/ClientManagement.test.tsx
  frontend/src/components/rooms/__tests__/DeleteRoomDialog.test.tsx
  frontend/src/components/rooms/__tests__/EditRoomDialog.test.tsx
Due: eslint, tsc, prettier, nextjs-build

docs: add weekly reports for Nov 7-13 and Nov 14-20
  WEEKLY_REPORT_2025-11-11.md
  WEEKLY_REPORT_2025-11-18.md
Due: none

refactor: improve TypeScript type definitions
  frontend/src/hooks/use-game-session.ts
  frontend/src/stores/room-store.ts
  frontend/src/types/game-sync.types.ts
Due: eslint, tsc, prettier, nextjs-build

chore: remove obsolete card-events and game-sessions code
  backend/app/api/card_events.py.bak
  backend/app/api/game_sessions.py.bak
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/card_event.py.bak
  backend/app/models/game_state.py.bak
  backend/tests/factories.py
  backend/tests/test_card_events.py.bak
  backend/tests/test_game_sessions.py.bak
  backend/tests/test_with_factories.py
Due: pytest

test: optimize test suite and remove duplicate code
  backend/app/core/security.py
  backend/tests/factories.py
  backend/tests/test_game_engine.py
Due: pytest

ci: optimize CI/CD workflows with caching and smart health checks
  .github/workflows/deploy-backend.yaml
  .github/workflows/deploy-frontend.yaml
Due: none

chore: optimize Docker builds with multi-stage approach
  DOCKER_OPTIMIZATION.md
  backend/Dockerfile
  frontend/Dockerfile
Due: none

fix: simplify frontend Dockerfile (remove public directory issue)
  frontend/Dockerfile
Due: none

docs: clean up outdated documentation files
  DOCKER_OPTIMIZATION.md
  REFACTORING_NEEDED.md
  SYNC_ARCHITECTURE.md
Due: none

docs: restructure PRD to focus on pending work
  PRD.md
Due: none

fix: resolve markdown linting issues in PRD
  PRD.md
Due: none

chore: set backend min-instances to 0 for cost optimization
  .github/workflows/deploy-backend.yaml
Due: none

fix: resolve markdown linting issues in ARCHITECTURE.md and CLAUDE.md
  ARCHITECTURE.md
  CLAUDE.md
Due: none

perf: fix N+1 query issues in clients and rooms API
  backend/app/api/clients.py
  backend/app/api/rooms.py
  backend/tests/test_clients_n_plus_one.py
  backend/tests/test_rooms_n_plus_one.py
Due: pytest

style: apply black and isort formatting to N+1 optimization
  backend/app/api/clients.py
  backend/tests/test_clients_n_plus_one.py
  backend/tests/test_rooms_n_plus_one.py
Due: pytest

perf: optimize N+1 queries in rooms API endpoints
  backend/app/api/rooms.py
Due: pytest

feat: add agents system for Claude CLI
  .claude/agents/agent-manager.md
  .claude/agents/code-reviewer.md
  .claude/agents/test-runner.md
Due: none

refactor: slim down CLAUDE.md - inherit from global
  CLAUDE.md
Due: none

chore: add session-start hook for context persistence
  hooks/session-start.sh
Due: none

feat: add card image URLs and complete skill inventory deck
  .claude/agents/card-uploader.agent.md
  .gitignore
  TODO.md
  card-image/CARD_FORMAT_COMPARISON.md
  card-image/CARD_UPLOAD_SOP.md
  card-image/generate-skill-inventory-json.js
  card-image/rename-profession-ms.sh
  card-image/rename-skill-inventory.sh
  card-image/rename-value-cards.sh
  frontend/src/game-modes/data/cards/career-cards.json
  frontend/src/game-modes/data/cards/skill-cards.json
  frontend/src/game-modes/data/cards/value-cards.json
Due: prettier

fix: add production frontend URL to CORS origins
  backend/app/main.py
Due: pytest

fix: only show flip button for double-sided cards
  frontend/src/components/game-cards/CardItem.tsx
  frontend/src/components/game-cards/__tests__/CardItem.test.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: filter mindset cards only for advantage_analysis gameplay
  frontend/src/game-modes/services/__tests__/card-loader.service.test.ts
  frontend/src/game-modes/services/card-loader.service.ts
Due: eslint, tsc, prettier, nextjs-build

fix: use getDecksForGameplay() in AdvantageAnalysisGame to filter mindset cards
  frontend/src/components/games/AdvantageAnalysisGame.tsx
Due: eslint, tsc, prettier, nextjs-build

refactor: 技能卡改名為職能卡，價值導航卡其他區域改為1:1尺寸
  frontend/src/components/game-canvases/GridCanvas.tsx
  frontend/src/components/game-canvases/GrowthPlanCanvas.tsx
  frontend/src/components/games/GrowthPlanningGame.tsx
  frontend/src/components/visitor/VisitorGuidance.tsx
  frontend/src/game-modes/data/canvas/canvas-configs.json
Due: eslint, tsc, prettier, nextjs-build

refactor: 職能盤點卡重構 - action/mindset 分離，更新圖片命名與 GCS
  frontend/src/components/games/GrowthPlanningGame.tsx
  frontend/src/game-modes/data/cards/skill-cards.json
Due: eslint, tsc, prettier, nextjs-build

fix: L/S action 卡重命名，職位拆解只用 mindset 卡
  frontend/src/components/games/PositionBreakdownGame.tsx
Due: eslint, tsc, prettier, nextjs-build

refactor: 移除 skill_ 卡片 id 判斷，統一使用 mindset_ 和 action_
  frontend/src/components/common/CardModal.tsx
  frontend/src/components/common/CardSidebar.tsx
  frontend/src/components/common/DropZone.tsx
  frontend/src/components/game-canvases/GrowthPlanCanvas.tsx
  frontend/src/components/game-cards/CardItem.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: 新增 mindset type 到 TypeScript 型別定義
  frontend/src/components/common/CardSidebar.tsx
  frontend/src/components/game-cards/CardItem.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: 成長計畫卡片大小統一，加入翻面功能
  frontend/src/components/game-canvases/GrowthPlanCanvas.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: 新增 staging frontend URL 到 CORS 設定
  backend/app/main.py
Due: pytest

fix: DropZone 使用傳入的 cardWidth/cardHeight 而非固定比例
  frontend/src/components/common/DropZone.tsx
  frontend/src/components/games/AdvantageAnalysisGame.tsx
  frontend/src/game-modes/services/__tests__/card-loader.service.test.ts
  frontend/src/game-modes/services/card-loader.service.ts
Due: eslint, tsc, prettier, nextjs-build

fix: 驚嘆號只在 showCounter 為 true 時才顯示
  frontend/src/components/common/DropZone.tsx
  frontend/src/components/game-cards/CardItem.tsx
Due: eslint, tsc, prettier, nextjs-build

fix: card sidebar image sizes
  frontend/src/components/common/CardSidebar.tsx
  frontend/src/game-modes/services/card-loader.service.ts
Due: eslint, tsc, prettier, nextjs-build

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  tsc: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|md|json)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  pytest: any of: ^backend/.*\.py$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

  nextjs-build: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: (?x)^(
  frontend/node_modules/|
  frontend/.next/|
  frontend/out/|
  backend/__pycache__/|
  backend/.pytest_cache/|
  backend/venv/|
  backend/env/|
  .*\.min\.js|
  .*\.min\.css
)

